* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

section {
  text-align: center;
}

.sectionTitle {
  display: inline-block;
  color: #F77027;
  padding: 20px 0 4px;
  font-size: 22px;
  z-index: 2;
  border-bottom: solid 3px #F77027;
}

.wallper {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.wallper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(img/earth-11014_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .6;
  animation: zoom 12s 2s linear forwards;
}

@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: .6;
  }

  50% {
    transform: scale(1.5);
    opacity: .6;
  }

  95% {
    opacity: 0;
  }

  100% {
    transform: scale(1);
  }
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 80%;
  text-align: center;
  color: #F77027;
  z-index: 1;
}

.title h1 {
  font-size: 44px;
  text-transform: uppercase;
}

.title h1 span {
  display: inline-block;
  color: #607D8B;
  animation: rotate 2s linear infinite;
  transition: .5s;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg)
  }

  100% {
    transform: rotateY(360deg)
  }
}

.title-line {
  height: 4px;
  max-width: 40%;
  margin: 10px auto;
  background-color: #607D8B;
}

header p {
  margin-top: 10px;
  color: white;
  font-size: 22px;
}

.title a {
  display: inline-block;
  margin-top: 80px;
  padding: 12px 20px;
  color: #F77027;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #F77027;
  border-radius: 4px;
  transition: .4s linear;
}

a:hover {
  color: white;
  border-color: #F77027;
  background-color: #F77027;
}

.about-me {
  background: linear-gradient(to top, #232537 0%, #101119 100%);
}

.about-me .container {
  width: 96vw;
  margin: 0 auto;
  transform: scale(0) translateX(-100vw);
  transition: transform .8s ease-in-out;
}

.container.shown {
  transform: scale(1) translateX(0);
}

.about-me .photo {
  display: flex;
}

.container.shown p {
  margin: 3% 6% 3%;
  font-size: 14px;
  line-height: 1.4;
  color: #ddd;
  text-align: center;
}

.about-me span {
  color: #f77027;
}

.about-me .photo img {
  display: none;
  height: 100%;
  position: relative;
  flex-basis: 35%;
  align-self: flex-end;
  margin-bottom: 90px;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 1.4s, opacity 2s;
  transition-timing-function: cubic-bezier(0.46, 0.03, 0.43, 1.33);
  transition-delay: .2s;
}

.about-me .photo.active img {
  opacity: .8;
  transform: translateX(-5vw);
}

.portfolio {
  height: 100vh;
  background: linear-gradient(to top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.portfolio .container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.portfolio ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 0 40px;
}

.portfolio ul li {
  list-style: none;
  margin: 0 0 20px;
}

.portfolio ul li .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(90deg);
  transition: transform 0.5s;
  transform-origin: left;
}

.portfolio ul li input[type="radio"] {
  position: relative;
  height: 26px;
  width: 26px;
  z-index: 1;
  margin: 2px;
}

.portfolio ul li input[type="radio"]:checked~.slide {
  transform: rotateY(0deg);
  transition: transform .9s;
  transform-origin: right;
}

.portfolio ul li .slide .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, .9);
  padding: 20px;
  border-radius: 4px;
  max-width: 600px;
  width: 84%;
}

.portfolio ul li .slide .content h2 {
  font-size: 32px;
}

.portfolio ul li .slide .content p {
  padding: 10px 0;
  font-size: 16px;
  color: #111;
}

.portfolio ul li .slide .content .more {
  position: absolute;
  bottom: 0%;
  right: 0%;
  font-size: 14px;
  padding: 15px 25px;
  text-decoration: none;
  transition: .5s;
  color: #34495e;
}

.portfolio ul li .slide .content .more:hover {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 4px;
  color: aliceblue;
}

.portfolio ul li .slide img {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.portfolio ul li input[type="radio"]:checked~.slide img {
  animation: zoom-portfolio 30s linear infinite;
}

.portfolio .sectionTitle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: (255, 255, 255, 0.9);
  overflow: hidden;
  z-index: 2
}

@keyframes zoom-portfolio {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.contact {
  background: linear-gradient(to bottom, #232537 0%, #090A0E 100%);
}

.contact p {
  margin: 10px;
  text-align: center;
  color: #ddd;
  font-size: 14px;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;

}

.contact-form-text {
  display: block;
  width: 100%;
  margin: 6px 0;
  border: 0;
  background-color: #111;
  padding: 10px 20px;
  outline: none;
  color: #ddd;
  transition: .5s;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
}

.contact-form-text:hover {
  box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
  font-family: "Poppins", sans-serif;
}

.contact-form-btn {
  float: right;
  border: none;
  background-color: #34495e;
  color: white;
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .5s;
  font-size: 18px;
  text-decoration: none;
}

.contact-form-btn:hover {
  background-color: #2980b9;
}

div.social-icons {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

div.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
  text-align: center;
  line-height: 40px;
  margin: 16px 5px;
  color: #111;
  transition: .5s;
  border-radius: 10px;
  text-decoration: none;
}

.social-icons a i {
  font-size: 25px;
  line-height: 40px;
}

.social-icons a:hover {
  background-color: #F77027;
  color: aliceblue;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #F77027;
  text-align: center;
  font-size: 16px;
  color: #212335;
  text-transform: uppercase;
}

@media (orientation: portrait) and (min-width: 360px) {
  .title h1 {
    font-size: 50px;
  }

  .sectionTitle {
    font-size: 26px;
  }

  .portfolio ul li .slide .content p {
    font-size: 18px;
  }

  .contact p {
    padding: 10px auto;
    font-size: 16px;
  }

  .contact-form-text {
    margin: 12px 0;
    padding: 15px 20px;
    font-size: 16px;
  }

  .contact-form-btn {
    margin-top: 30px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }

  div.social-icons {
    margin-top: 10px;
  }

  footer {
    font-size: 18px;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .sectionTitle {
    font-size: 50px;
  }

  .title h1 {
    margin-top: -150px;
    font-size: 80px;
  }

  header p {
    font-size: 30px;
  }

  .title a {
    font-size: 30px;
    margin-top: 140px
  }

  .container.shown p {
    font-size: 24px;
  }

  .portfolio ul li .slide .content {
    width: 70%;
  }

  .portfolio ul li .slide .content h2 {
    font-size: 48px;
  }

  .portfolio ul li .slide .content p {
    font-size: 28px;
  }

  .portfolio ul li .slide .content .more {
    font-size: 24px;
  }

  .portfolio ul li input[type="radio"] {
    height: 30px;
    width: 30px;
    margin: 5px;
  }

  .contact p {
    margin: 10px 20px;
    padding: 20px auto;
    font-size: 26px;
  }

  .contact-form-text {
    margin: 12px 0;
    padding: 25px 20px;
    font-size: 22px;
  }

  .contact-form-btn {
    padding: 15px 35px;
    font-size: 26px;
    margin-top: 10px;
  }

  div.social-icons {
    padding: 30px 0;
  }

  div.social-icons a {
    margin: 0 10px;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  .social-icons a i {
    font-size: 40px;
    line-height: 60px;
  }

  footer {
    font-size: 32px;
  }
}

@media (orientation: landscape) and (min-width: 533px) {
  .sectionTitle {
    padding: 6px 0 4px;
  }

  .title h1 {
    font-size: 40px;
    margin-top: 20px;
  }

  .title a {
    font-size: 20px;
    margin-top: 40px
  }

  .portfolio ul li {
    margin: 0 0 10px;
  }

  .portfolio ul li .slide .content {
    padding: 10px;
    width: 90%;
  }

  .portfolio ul li .slide .content h2 {
    font-size: 24px;
  }

  .portfolio ul li .slide .content p {
    margin: 0 10px;
  }

  .portfolio ul li .slide .content .more {
    font-size: 16px;
    padding: 15px 25px;
  }

  .contact-form-text {
    padding: 6px 12px;
  }

  textarea.contact-form-text {
    height: 60px;
  }

  div.social-icons {
    margin: -60px -20px 0 0;
  }

  footer {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  .portfolio ul li .slide .content {
    width: 84%;
  }

  .portfolio ul li .slide .content h2 {
    font-size: 30px;
  }

  textarea.contact-form-text {
    height: 90px;
  }

  footer {
    font-size: 26px;
    height: 60px;
    line-height: 60px;
  }
}

@media (min-width: 1024px) {
  .sectionTitle {
    font-size: 44px;
  }

  .title h1 {
    font-size: 84px;
  }

  header p {
    font-size: 44px;
  }

  .title a {
    font-size: 36px;
    margin-top: 140px
  }

  .about-me .container {
    width: 60%;
    margin: 10px;
  }

  .container.shown p:nth-child(1) {
    width: 70vh;
  }

  .container.shown p:nth-last-child(1) {
    width: 120vh;
  }

  .container.shown p {
    text-align: left;
    font-size: 26px;
  }

  .about-me {
    overflow-x: hidden;
  }

  .about-me .photo img {
    display: inline-block;
  }

  .portfolio ul li .slide .content {
    width: 60%;
  }

  .portfolio ul li .slide .content h2 {
    font-size: 50px;
  }

  .portfolio ul li .slide .content p {
    text-align: center;
    margin: 40px 20px;
    font-size: 28px;
  }

  .portfolio ul li .slide .content p:nth-last-child(1) {
    width: 94%;
  }

  .portfolio ul li .slide .content .more {
    font-size: 26px;
  }

  .portfolio ul li input[type="radio"] {
    height: 40px;
    width: 40px;
    margin: 5px;
  }

  .contact p {
    max-width: 600px;
    margin: 20px auto;
    font-size: 26px;
  }

  textarea.contact-form-text {
    height: 120px;
  }

  .contact-form-text {
    margin: 12px 0;
    padding: 20px 20px;
    font-size: 22px;
  }

  .contact-form-btn {
    padding: 15px 35px;
    font-size: 24px;
  }

  div.social-icons {
    margin-top: 30px;
  }

  div.social-icons a {
    margin: 0 10px;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  .social-icons a i {
    font-size: 40px;
    line-height: 60px;
  }

  footer {
    font-size: 36px;
  }
}

@media (min-width: 1024px) and (orientation:portrait) {
  .portfolio ul li .slide .content p {
    line-height: 1.6;
    font-size: 32px;
  }

  .portfolio ul li .slide .content .more {
    font-size: 30px;
  }
}



@media (min-width: 1024px) and (orientation: landscape) {
  .container.shown p:nth-child(1) {
    width: 120vh;
  }

  div.social-icons {
    padding: 20px 0;
  }
}

@media (orientation: portrait) {
  .portfolio ul li .slide img {
    height: 100%;

  }
}

@media (orientation: landscape) {
  .portfolio ul li .slide img {
    width: 100%;
  }
}